body { 
	margin:0px;
}

body, p, ol, ul, td {
	font-family: 'Yanone Kaffeesatz', serif;
	font-size: 18px
}

td {
	vertical-align: top;
}

#header {
	height:70px;
	width:100%;
	background: #30A050;
	border-bottom: 2px #000000 solid;
}

#header_title, #header_title:link, #header_title:visited, #header_title:active, #header_title:hover {
	font-family: 'Yanone Kaffeesatz', serif;
	font-size: 42px;
	font-style: normal;
	font-weight: 400;
	color: #fff;
	text-shadow: 2px 2px 2px #ddd;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.7em;
	margin-left:20px;
	text-decoration: none;
	text-transform: none;
}

#container {
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px;
	color: #03030A;
}

#user_session {
	text-align: right;
	text-shadow: inherit;
}

#notice {
	text-align: center;
	color: #4a7;
}

#user_nav {
	font-weight: bold;
	text-shadow: inherit;
	text-align: left;
}

#yield {
}

h1, h2{
	font-family: 'Yanone Kaffeesatz', serif;
	font-style: normal;
	font-weight: 400;
	color: #999;
	text-shadow: 1px 1px 1px #555;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.7em;/*
	text-decoration: none;
	text-transform: none;*/
	border-bottom: 1px solid #999;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}

table {
}

#category {
	margin:20px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 12px;
	padding-right: 12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/* LINK ATTRIBUTES */
a:link, a:visited
{
	font-family: 'Yanone Kaffeesatz', serif;
	font-size: 18px;
	color: #555;
	text-decoration: none;
	text-transform: none;
}

a:hover, a:active
{
	font-family: 'Yanone Kaffeesatz', serif;
	font-size: 18px;
	color: #888;
}

/*
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', serif;
	color: #555;
	border: 1px solid #999;
	padding: 5px;
}
*/

#things_chart {
	width: 500px;
	height: 300px;
}


/*** Simple Form gem styles ***/
.simple_form label {
	float:none;
	margin: 0;
	font-family: 'Yanone Kaffeesatz', serif;
	float: left;
	width:150px;
	text-align:right;
	margin: 2px 10px;
}

input, .simple_form input {
	font-family: 'Yanone Kaffeesatz', serif;
	font-size: 18px;
	margin-bottom: 10px;
	border: 1px solid #999;
}

.simple_form input[type='submit'] {
	margin-left: 172px;
}

.simple_form div.boolean {
	margin-left: 172px;
	float:none;
	margin: 0;
}

.simple_form select {
	font-family: 'Yanone Kaffeesatz', serif;
	font-size: 16px;
	margin-bottom: 10px;
	border: 1px solid #999;
}



body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
